<a href="https://colab.research.google.com/github/RohitTudayekar/Machine_learning/blob/main/DecisionTreeClassifier_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv("/content/BankNoteAuthentication.csv")

In [ ]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
x=data.drop(['class'],axis=1)
y=data['class']

In [5]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [8]:
#importing decision treeclassifier
from sklearn.tree import DecisionTreeClassifier
tree_classifier=DecisionTreeClassifier()

In [9]:
tree_classifier.fit(x_train,y_train)
predictions=tree_classifier.predict(x_test)

In [10]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [11]:
print(cm)

[[150   2]
 [  3 120]]

In [12]:
print(ac)

0.9818181818181818