<a href="https://colab.research.google.com/github/RohitTudayekar/Machine_learning/blob/main/Logistic_Regression_insurance_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# to check whether he/she can claim the insurance by using given insurance data.that is called as classification regression

In [ ]:
data=pd.read_csv("/content/insurance2.csv")

In [ ]:
data.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [ ]:
X=data.drop(['insuranceclaim'],axis=1) #axis=1  refers colun,axis=0 refers row

In [ ]:
X.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [ ]:
y=data['insuranceclaim']

In [ ]:
y.head()

0    1
1    1
2    0
3    0
4    1
Name: insuranceclaim, dtype: int64

In [ ]:
#split data
from sklearn.model_selection  import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()

In [ ]:
logmodel.fit(X_train,y_train)

LogisticRegression()

In [ ]:
y_pred=logmodel.predict(X_test)

In [ ]:
print(y_pred)

[1 1 1 0 1 1 0 0 1 1 1 0 0 0 1 1 1 1 1 0 1 0 1 0 0 0 1 0 1 1 1 1 1 0 1 1 0
 1 0 1 1 1 0 0 1 0 1 0 0 1 0 1 0 1 1 1 1 0 1 0 1 0 1 1 0 1 1 0 0 1 1 0 1 1
 0 0 1 0 0 0 0 1 1 1 1 1 1 1 0 0 1 0 1 0 1 0 1 1 1 0 0 1 1 1 1 1 0 1 0 1 0
 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1 0 1 1 1 1 1
 1 1 0 1 1 0 0 1 1 1 1 0 1 1 1 1 1 0 0 1 0 0 1 0 1 1 1 0 0 1 1 1 1 0 0 1 1
 0 1 1 1 0 1 1 1 0 1 0 1 0 1 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 1
 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 0 1 0 1 1 1 0 1 1 0 1 0 0 1 0
 1 1 1 1 1 0 1 1 1]

In [ ]:
#calculating accuracy  of classification model
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [ ]:
print(cm) # 75 refers Truepositive, 141 refers Truenegative, 35 refers Falsepositive,17 refers falsenegative [confusion_matrix]

[[ 75  35]
 [ 17 141]]

In [ ]:
print(ac)

0.8059701492537313